<%- include('header') %>
 <!-- END nav -->
 <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Services <i class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">Services</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section">
      <div class="container">
          <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Services</span>
          <h2>How We Works</h2>
        </div>
      </div>
          <div class="row">
        <div class="col-md-6 col-lg-4 services ftco-animate">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-workplace"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Office Cleaning</h3>
              <p>The surfaces all around the office environment are crawling with germs and bacteria that can cause sickness. A proper office cleaning is beneficial in that it can reduce the amount of sick days people take from sharing office germs.</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-balcony"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Home Cleaning</h3>
              <p>Housekeeping includes housecleaning, that is, disposing of rubbish, cleaning dirty surfaces, dusting, and vacuuming. It may also involve some outdoor chores, such as removing leaves from rain gutters, washing windows, and sweeping doormats</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services ftco-animate">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-cleaning"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Bathroom Cleaning</h3>
              <p>Keeping a clean bathroom means wiping surfaces daily with bacteria killing solutions (vinegar, bleach, antibacterial cleaners); paying special attention to the surfaces of the toilet, tub, sink and all handles & faucets.</p>
              
            </div>
          </div> 
        </div>

        <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-kitchen"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Kitchen Cleaning</h3>
              <p>
                Regularly cleaning your kitchen not only offers an appealing look, but also helps maintain your appliances, cupboards and floors. Residue and build-up from lack of cleaning can result in costly maintenance repairs, as well as decrease functionality in your appliances.</p>
             
            </div>
          </div> 
        </div>

        <div class="col-md-6 col-lg-4 services ftco-animate">
          <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-garden"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Parks Cleaning</h3>
              <p>
                A park that is clean and well-maintained offers a safe and enjoyable place for people to visit for hiking, picnicking, sporting activities, or just relaxing. Keeping parks clean can be every visitor's job, which helps contribute to a more welcoming park atmosphere.</p>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 services ftco-animate">
            <div class="d-block d-flex">
            <div class="icon d-flex justify-content-center align-items-center">
                  <span class="flaticon-balcony"></span>
            </div>
            <div class="media-body pl-3">
              <h3 class="heading">Window Cleaning</h3>
              <p>The best homemade window cleaning solution is to just mix two gallons of water and about a teaspoon of dishwashing liquid together in your bucket. Some people also opt to use vinegar and water to clean windows. In warm weather, you'll get a little more working time by using cool wate</p>
              
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>



  <section class="ftco-section bg-light">
      <div class="container">
          <div class="row justify-content-center pb-5 mb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading mb-3">Price &amp; Plans</span>
          <h2>Choose Your Perfect Plans</h2>
        </div>
      </div>
          <div class="row">
              <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="block-7">
              <div class="text-center">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-sprayer"></span></div>
                  <h4 class="heading-2">Starter</h4>
                  <span class="price"><sup></sup> <span class="number">500</span></span>
                  
                  <ul class="pricing-text mb-5">
                    <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
                    <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
                  </ul>

                  <a href="/booking" class="btn btn-primary px-4 py-3">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="block-7 active">
              <div class="text-center">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-vacuum-cleaner"></span></div>
              <h4 class="heading-2">Standard</h4>
              <span class="price"><sup></sup> <span class="number">1000</span></span>
              
              <ul class="pricing-text mb-5">
                    <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
                    <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
                  </ul>

              <a href="/booking" class="btn btn-primary px-4 py-3">Get Started</a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ftco-animate">
            <div class="block-7">
              <div class="text-center">
                  <div class="icon d-flex align-items-center justify-content-center"><span class="fa flaticon-tap"></span></div>
              <h4 class="heading-2">Premium</h4>
              <span class="price"><sup></sup> <span class="number">1050</span></span>
              
              <ul class="pricing-text mb-5">
                    <li><span class="fa fa-check mr-2"></span>Bedrooms cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Vacuuming</li>
                    <li><span class="fa fa-check mr-2"></span>Bathroom cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Mirrow cleaning</li>
                    <li><span class="fa fa-check mr-2"></span>Livingroom cleaning</li>
                  </ul>

              <a href="/booking" class="btn btn-primary px-4 py-3">Get Started</a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
  </section>


 

<%- include('footer') %>